.bg-footer {
height: 200px;
    background-color: rgba(251, 73, 30, 1);
    background-image: linear-gradient(rgba(251, 73, 30, 1), rgba(251, 202, 30, 1));
    transform: rotate(-40deg);
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 101;
    overflow: hidden;
    filter: blur(100px);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-position: 0% 0%;
    translate: 100px -150px;
    animation: animate-merge 2s infinite alternate ease-in;
    bottom: -40%;
    left: -55%;
}
@media screen and (max-width: 768px) {
    .bg-footer {
        left: -50%;
        /* Set right to 0 */
        width: 100vh;
        bottom: 0;
        transform: rotate(-50deg);
        /* Adjust top position */
        translate: 50px -100px;
        /* Reset translate */
    }
}
@keyframes animate-merge {


    100% {
        translate: 0;
    }
}