.bg-footer {
    background-image: url('../../assets/images/footerbgimage.png');
    background-repeat: no-repeat;
    background-position: left 0% top 80%;
    translate: -100px 0px;
    position: absolute;
    animation: animate-merge 2s infinite alternate ease-in;
    height: 80vh;
    width: 100%;
}
@keyframes animate-merge {


    100% {
        translate: 0;
    }
}