.bg-card {
    background: transparent;
    opacity: 0.6;
    transition: background 0.3s ease, opacity 0.3s ease;
    /* Smooth background and opacity transition */
}

.bg-card:hover {
    opacity: 1;
}

.omnicard {
    border: 1px solid #4D4D4D;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}

.omnicard:hover {
background: radial-gradient(93.36% 93.36% at 50% 40%, rgba(102, 96, 96, 0) 0%, rgba(77, 77, 77, 0.5) 100%);
    transform: scale(1.01);
    /* Slight zoom-in effect */
    opacity: 1;
    /* Ensuring opacity is full on hover */
}