.animate-position {
    animation: moveDiv 5s ease-in infinite;
    /* Animation lasts 5 seconds, smooth easing, infinite loop */
    animation-delay: 5s;
}

@keyframes moveDiv {
    0% {
        
        opacity: 0.4;
    }

    50% {
        
        /* Adjust these values to your desired end position */
        opacity: 0.5;
    }

    100% {
       
        /* Move back to the starting point */
        opacity: 0.6;
    }
}
.ai-yellow-circle {
    background: rgba(251, 202, 30, 1);
    filter: blur(100px);
    top: -100px;
    left: 100px;
    transform: rotate(15deg);
    border-radius: 100%;
}

.ai-org-circle {
    background: rgba(251, 73, 30, 1);
    top: 0px;
    filter: blur(140px);
    left: -60px;
    border-radius: 100%;
}